table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
}

td.button {
  border: none;
}

td.cookie_count {
  text-align: center;
}

h2 {
  display: inline-block;
  align-items: center;
}

.table_div,
#filter_div,
#summary_div {
  margin-left: 10px;
}

#filter_count,
#total_count {
  color: #49b849;
}

button {
  margin-left: 10px;
}

.cookie-image {
  height: auto;
  width: 100px;
  margin-bottom: 10px;
}
