table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
}

td.button {
  border: none;
}

td.cookie_count {
  text-align: center;
}

h2 {
  display: inline-block;
  align-items: center;
}

.table_div,
#filter_div,
#summary_div {
  margin-left: 10px;
}

#filter_count,
#total_count {
  color: #49b849;
}

button {
  margin-left: 10px;
  border-color: orange;
  border-radius: 5px;
  background-color: whitesmoke;
  height: 35px;
}

.cookie-image {
  height: auto;
  width: 100px;
  margin-bottom: 10px;
}

#filter {
  width: 244px;
}

p {
  margin-left: 5px;
}

.delete_all_button_css {
  font-weight: bold;
}
